
<h1>Listado de usuarios</h1>

<strong>Aun es una lista en proceso, no captura los datos de registro</strong>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th scope="col">Posicion</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nav of dataSource">
      <td>{{ nav.position }}</td>
      <td>{{ nav.name}}</td>
      <td>
        <a href="actualizar"> Actualizar</a>
        <button mat-raised-button color="warn" (click)="prueba()">Eliminar</button>
      </td>
    </tr>

  </tbody>
</table>
