<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Completa la informacion personal</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="nombre" placeholder="Nombre completo" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Completa informacion adicional">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput  [(ngModel)]="email" formControlName="secondCtrl" placeholder="Ejemplo: miau@gmail.com"
               required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Atras</button>
        <button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Contraseña">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="thirdCtrl"  [(ngModel)]="password" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Atras</button>
        <button mat-raised-button matStepperNext (click)="subir()">Finalizar</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Registro completo</ng-template>
    <p>Registro completado</p>
    <div>
      <button mat-raised-button><a href="registro">Terminar</a></button>

    </div>
  </mat-step>

</mat-stepper>

