<mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="firstFormGroup" label="Categoria">
    <form [formGroup]="firstFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Categoria materia</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select >
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Describe la tarea">
    <form [formGroup]="secondFormGroup">
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="Explique la tarea" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Completado</ng-template>
    <p>Tarea subida</p>
    <div>
      <button mat-button matStepperPrevious>Volver</button>
    </div>
  </mat-step>
</mat-stepper>
